.trigger {
  display: flex;
  padding: var(--spacing-2);
  justify-content: space-between;
  cursor: pointer;
  transition-duration: var(--timing-fast);

  font-size: var(--font-size-small);
  color: var(--color-input-fg);
  background-color: var(--color-input-bg);

  border: var(--border-input);
  border-radius: var(--border-radius);

  &[data-placeholder] {
    color: var(--color-input-fg-dim);
  }

  &:focus {
    border: 1px solid var(--color-accent);
    outline: var(--border-input-focused);
  }

  & > span:not(.trigger-icon) {
    text-align: left;
    min-width: 0;
    flex-grow: 1;
  }
}

.value {
  flex: 1 1 0;
  min-width: 0;
}

.trigger-icon {
  display: flex;
  align-items: center;
  line-height: 0;
}

.content {
  background-color: var(--color-layer3-bg);
  border: var(--border-layer3);
  border-radius: var(--border-radius);
  box-shadow: var(--shadow-medium);
  padding: var(--spacing-4);
}

.label {
  color: var(--color-layer3-fg-dim);
  font-size: var(--font-size-small);
  padding: var(--spacing-2);
}

.item {
  color: var(--color-layer3-fg);
  display: flex;
  align-items: center;
  gap: var(--spacing-3);
  font-size: var(--font-size-small);
  padding: var(--spacing-2);
  border-radius: var(--border-radius);
  cursor: pointer;

  &:focus-visible {
    outline: var(--outline-focused);
  }

  &[data-highlighted] {
    color: var(--color-accent-fg);
    background-color: var(--color-accent);
    outline: none;
  }
}

.item-indicator {
  display: flex;
  align-items: center;
  line-height: 0;
}

.scroll-button {
  color: var(--color-layer3-fg);
  display: flex;
  align-items: center;
  justify-content: center;
}
