/* nothing */

.nothing-container {
  display: flex;
  flex-direction: column;
  height: 100%;
  width: 100%;
  padding: var(--spacing-panel);
}

.nothing-topbar {
  display: flex;
  flex-direction: row;
  justify-content: right;
}

.nothing-body {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-grow: 1;
}

.nothing-label {
  color: var(--color-layer1-fg);
  font-size: var(--font-size-big);
}

/* plot */

.plot-container {
  padding: var(--spacing-panel);
  width: 100%;
  height: 100%;
}

.quick-actions-container {
  display: grid;
  gap: calc(2 * var(--spacing-panel));
  grid-template-columns: 170px 2fr;
  padding: var(--spacing-panel);
  overflow-y: auto;
  display: grid;
  flex-grow: 1;
  height: 100%;
  width: 100%;
}

.quick-actions-settings {
  grid-column: 2 / 3;
  & > div {
    font-size: var(--font-size-medium);
  }
}

.quick-actions-buttons {
  grid-column: 1 / 2;
  display: flex;
  flex-direction: column;
  gap: var(--spacing-3);
}

.quick-actions-button {
  font-size: var(--font-size-medium);
  --button-spacing: var(--spacing-4);
}

/* table */

.table-container {
  padding: var(--spacing-panel);
  width: 100%;
  height: 100%;
  overflow-y: auto;
}

/* steafy state */

.steady-state-tables {
  color: var(--color-layer1-fg);
  padding: var(--spacing-panel);
  width: 100%;
  height: 100%;
  overflow-x: auto;
  overflow-y: auto;
}

.steady-state-section-title-container {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: var(--spacing-2);
}

.steady-state-section-title-chevron {
  color: var(--color-layer1-fg-dim);
  &[data-open="false"] {
    transform: rotate(-90deg);
  }
}

.steady-state-section-trigger {
  flex-grow: 1;
  background: none;
  border: none;
  text-align: left;
  font-size: inherit;
  font-weight: bold;
  padding: 0;

  &:focus-visible {
    outline: var(--outline-focused);
  }
}

.steady-state-section {
  & > h2 {
    font-size: var(--font-size-big);
  }
}

.steady-state-3d-panel {
  display: flex;
  flex-direction: column;
  padding: var(--spacing-panel);
  gap: var(--spacing-4);
  width: 100%;
  height: 100%;
  overflow-x: auto;
  overflow-y: auto;
}
