.container {
  display: flex;
  flex-direction: column;
  gap: var(--spacing-3);
}

.topbar {
  display: flex;
  flex-direction: row;
  gap: var(--spacing-3);
  align-items: center;
}

.search-box {
  flex-grow: 1;
}

.list {
  display: flex;
  flex-direction: column;
  background-color: var(--color-container-bg);
  border: var(--border-container);
  border-radius: var(--border-radius);
  padding: var(--spacing-1);
}

.group-container {
  display: flex;
  flex-direction: column;
  padding: 0;
  margin: 0;
}

.group-title {
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 0;

  & > .action-list {
    margin-right: calc(var(--spacing-1) + var(--spacing-2));
  }
}

.group-trigger {
  background: transparent;
  border: none;
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: var(--spacing-1);
  color: var(--color-input-fg-dim);
  font-size: var(--font-size-small);
  padding: var(--spacing-2);
  flex-grow: 1;
  cursor: pointer;
  user-select: none;

  &:focus-visible {
    outline: var(--outline-focused);
  }
}

.group-container:not([data-open]) .group-trigger-icon {
  color: var(--color-input-fg-dim);
  transform: rotate(-90deg);
}

.group-content {
  margin: 0;
  padding: 0;
}

.item {
  display: flex;
  box-sizing: border-box;
  flex-direction: column;
  border-radius: var(--border-radius);
  margin-inline: var(--spacing-1);

  &[data-expanded] {
    background-color: var(--color-layer3-bg);
    outline: var(--border-layer3);
    margin-block: var(--spacing-2);
    box-shadow: var(--shadow-medium);
  }
}

.item-strip {
  display: flex;
  flex-direction: row;
  align-items: center;
  border-radius: var(--border-radius);

  user-select: none;
}

.item:not([data-expanded]):hover {
  background-color: var(--color-input-bg-translucent);
}

.item-name {
  flex-grow: 1;
  background: none;
  border: none;
  color: inherit;
  text-align: left;
  font-size: var(--font-size-small);
  padding: 0;
  margin: var(--spacing-2);

  &:focus-visible {
    outline: var(--outline-focused);
  }
}

.action-list {
  display: flex;
  padding: 0;
  margin: var(--spacing-2);
}

.action {
  color: var(--color-input-fg);
  display: flex;
  box-sizing: border-box;
  padding: 0;
  background: transparent;
  border: none;
  cursor: pointer;

  &:focus-visible {
    outline: var(--outline-focused);
  }

  &.dim {
    color: var(--color-input-fg-dim);
  }
}

.item-settings {
  display: flex;
  flex-direction: column;
  padding: var(--spacing-2);
}

.nothing-found {
  font-size: var(--font-size-small);
  padding: var(--spacing-2);
  text-align: center;
}

.checkbox {
  width: var(--font-size-medium) !important;
  height: var(--font-size-medium) !important;
}
