/** styles for stuff in the datasets panel */

.panel {
  display: flex;
  flex-direction: column;
  padding: var(--spacing-panel);
  gap: var(--spacing-5);
  height: 100%;
  width: 100%;
  overflow-y: auto;
}

.no-overlays {
  text-align: center;
  color: var(--color-layer1-fg);
}

.item-content {
  display: flex;
  flex-direction: column;
  gap: var(--spacing-2);
}

.variable-list {
  display: flex;
  flex-direction: column;
  background-color: var(--color-input-bg);
  border-radius: var(--border-radius);
  border: var(--border-layer2);
  padding: var(--spacing-2) var(--spacing-1);
}

.dataset-actions {
  display: flex;
  flex-direction: row;
  gap: var(--spacing-2);
  justify-content: flex-end;
}
