.root {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  background: var(--color-layer1-bg);
  border-right: var(--border-layer1);
  width: var(--size-7);
  padding: var(--spacing-1);
  box-sizing: content-box;

  &[data-collapsed="true"] {
    border-right: none;
  }
}

.list {
  display: flex;
  flex-direction: column;
  padding-block: var(--spacing-2);
  gap: var(--spacing-3);
  box-sizing: border-box;
}

.trigger {
  color: var(--color-layer1-fg-very-dim);
  position: relative;
  background-color: transparent;
  border: none;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
  aspect-ratio: 1 / 1;
  cursor: pointer;
  transition-duration: var(--timing-fast);
  font-size: var(--size-2);

  &:not([data-state="active"]):hover::before {
    content: "";
    background-color: color-mix(
      in hsl,
      var(--color-layer1-fg) 20%,
      transparent
    );
    display: block;
    position: absolute;
    top: 0;
    left: calc(-1 * var(--spacing-1));
    height: 100%;
    width: var(--size-0);
  }

  &:focus-visible {
    outline: var(--outline-focused);
  }

  &[data-state="active"] {
    color: var(--color-layer1-fg);
  }

  &[data-state="active"]::before {
    content: "";
    background-color: var(--color-accent);
    display: block;
    position: absolute;
    top: 0;
    left: calc(-1 * var(--spacing-1));
    height: 100%;
    width: var(--size-0);
  }

  & > span {
    font-size: 9px;
  }
}
