:root[data-theme="Very Dark"] {
  color-scheme: dark;

  --opacity-translucent: 10%;
  --opacity-dim: 62.35%;
  --opacity-very-dim: 47%;

  /* Interactions/Prominent Elements */

  --color-disabled: oklch(0.35 0.0067 248.03);
  --color-disabled-fg: oklch(0.6 0.0067 248.03);

  --color-button-bg: oklch(0.2815 0.0067 248.03);
  --color-button-fg: oklch(0.9624 0.0042 236.5);
  --color-button-border: oklch(0.3389 0.0036 264.52);

  --color-input-bg: oklch(0.2029 0.0024 247.93);
  --color-input-fg: var(--color-layer2-fg);
  --color-input-border: oklch(0.3089 0.0036 264.52);

  /* Layers/Background Elements */

  --color-layer1-bg: oklch(0.1769 0.0026 247.98);
  --color-layer1-fg: oklch(0.9684 0.0042 236.5);
  --color-layer1-border: oklch(0.2998 0.0105 278.3);

  --color-layer2-bg: oklch(0.2315 0.0047 248);
  --color-layer2-fg: oklch(0.9624 0.0042 236.5);
  --color-layer2-border: oklch(0.2991 0.0152 280.63);

  --color-layer3-bg: oklch(0.2543 0.0037 264.52);
  --color-layer3-fg: oklch(0.9474 0.0042 236.5);
  --color-layer3-border: oklch(0.3376 0.0082 277.01);

  --color-container-bg: var(--color-input-bg);
  --color-container-fg: var(--color-input-fg);
  --color-container-border: var(--color-input-border);

  /* Specific-use Colors */

  --color-error: oklch(0.6179 0.2337 29.59);
  --color-success: oklch(0.8024 0.2183 149.12);
  --color-success-fg: oklch(0 0 0);
  --color-warning: oklch(0.8154 0.1649 97.58);
  --color-info: oklch(0.709 0.1386 229.54);
}
