.title-section {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

.title-text {
  font-size: var(--font-size-medium);
  font-weight: 700;
  color: var(--color-layer1-fg-dim);
  margin-block: var(--spacing-2);
}
