.viewport {
  display: flex;
  flex-direction: column;
  gap: 10px;
  width: 420px;
  max-width: 90vw;
  position: fixed;
  top: 0;
  left: 50%;
  transform: translateX(-50%);
  margin: 0;
  padding: var(--spacing-5);
  list-style: none;
  z-index: 9999;
  outline: none;
}

.root {
  position: relative;
  color: var(--color-layer2-fg);
  background-color: var(--color-layer2-bg);
  border: var(--border-layer2);
  border-radius: var(--border-radius);
  padding: var(--spacing-4);
  box-shadow: var(--shadow-medium);

  &[data-state="open"] {
    animation: slideIn 100ms ease-in;
  }
  &[data-state="closed"] {
    animation: fade 100ms ease-out;
  }

  &[data-swipe="move"] {
    transform: translateX(var(--radix-toast-swipe-move-x));
  }
  &[data-swipe="cancel"] {
    transform: translateX(0);
    transition: transform 200ms ease-out;
  }
  &[data-swipe="end"] {
    animation: slideOut 200ms ease-out;
  }
  :global([data-theme="Light"]) &[data-type="error"] {
    background-color: color-mix(
      in oklch,
      var(--color-error) 18%,
      var(--color-white-bg)
    );
  }

  :global([data-theme="Light"]) &[data-type="success"] {
    background-color: color-mix(
      in oklch,
      var(--color-success) 18%,
      var(--color-white-bg)
    );
  }

  :global([data-theme="Light"]) &[data-type="warning"] {
    background-color: color-mix(
      in oklch,
      var(--color-warning) 18%,
      var(--color-white-bg)
    );
  }

  :global([data-theme="Light"]) &[data-type="info"] {
    background-color: color-mix(
      in oklch,
      var(--color-info) 18%,
      var(--color-white-bg)
    );
  }
  :global([data-theme="Dark"]) &[data-type="error"],
  :global([data-theme="Very Dark"]) &[data-type="error"],
  :global([data-theme="Catpuccin"]) &[data-type="error"],
  :global([data-theme="Monokai"]) &[data-type="error"] {
    background-color: color-mix(
      in oklch,
      var(--color-error) 35%,
      var(--color-black-bg)
    );
  }

  :global([data-theme="Dark"]) &[data-type="success"],
  :global([data-theme="Very Dark"]) &[data-type="success"],
  :global([data-theme="Catpuccin"]) &[data-type="success"],
  :global([data-theme="Monokai"]) &[data-type="success"] {
    background-color: color-mix(
      in oklch,
      var(--color-success) 35%,
      --color-black-bg
    );
  }

  :global([data-theme="Dark"]) &[data-type="warning"],
  :global([data-theme="Very Dark"]) &[data-type="warning"],
  :global([data-theme="Catpuccin"]) &[data-type="warning"],
  :global([data-theme="Monokai"]) &[data-type="warning"] {
    background-color: color-mix(
      in oklch,
      var(--color-warning) 35%,
      --color-black-bg
    );
  }

  :global([data-theme="Dark"]) &[data-type="info"],
  :global([data-theme="Very Dark"]) &[data-type="info"],
  :global([data-theme="Catpuccin"]) &[data-type="info"],
  :global([data-theme="Monokai"]) &[data-type="info"] {
    background-color: color-mix(
      in oklch,
      var(--color-info) 35%,
      --color-black-bg
    );
  }
}

.title {
  display: flex;
  align-items: center;
  font-weight: bold;
  font-size: var(--font-size-medium);
}

.icon {
  padding-inline-end: var(--spacing-2);
  width: var(--size-3);
  height: var(--size-3);

  [data-type="error"] & {
    color: var(--color-error);
  }
  [data-type="success"] & {
    color: var(--color-success);
  }
  [data-type="warning"] & {
    color: var(--color-warning);
  }
  [data-type="info"] & {
    color: var(--color-info);
  }
}

.description {
  font-size: var(--font-size-medium);
}

.close {
  color: var(--color-layer2-fg-dim);
  position: absolute;
  top: var(--spacing-3);
  right: var(--spacing-3);
  background: transparent;
  border: none;
  padding: 0;
}

.close-icon {
  width: var(--size-2);
  height: var(--size-2);
}

@keyframes fade {
  from {
    opacity: 100%;
  }
  to {
    opacity: 0%;
  }
}
