:root,
:root[data-theme="Dark"] {
  color-scheme: dark;

  --color-accent: oklch(0.613 0.1021 194.96);

  --opacity-translucent: 10%;
  --opacity-dim: 62.35%;
  --opacity-very-dim: 47%;

  /* Interactions/Prominent Elements */

  --color-disabled: oklch(0.35 0.0067 248.03);
  --color-disabled-fg: oklch(0.6 0.0067 248.03);

  --color-button-bg: oklch(0.3215 0.0067 248.03);
  --color-button-fg: oklch(0.9324 0.0042 236.5);
  --color-button-border: oklch(0.3989 0.0036 264.52);

  --color-card-bg: oklch(0.2215 0.0017 248.03);
  --color-card-fg: oklch(0.9224 0.0022 236.5);
  --color-card-border: oklch(0.2889 0.0036 264.52);

  --color-input-bg: oklch(0.26 0.0024 247.93);
  --color-input-fg: var(--color-layer2-fg);
  --color-input-border: oklch(0.3589 0.0036 264.52);

  /* Layers/Background Elements */

  --color-layer1-bg: oklch(0.2369 0.0026 247.98);
  --color-layer1-fg: oklch(0.9384 0.0042 236.5);
  --color-layer1-border: oklch(0.3498 0.0105 278.3);

  --color-layer2-bg: oklch(0.2815 0.0047 248);
  --color-layer2-fg: oklch(0.9324 0.0042 236.5);
  --color-layer2-border: oklch(0.3291 0.0152 280.63);

  --color-layer3-bg: oklch(0.3343 0.0047 248.52);
  --color-layer3-fg: oklch(0.9474 0.0042 236.5);
  --color-layer3-border: oklch(0.3576 0.0082 277.01);

  --color-container-bg: var(--color-input-bg);
  --color-container-fg: var(--color-input-fg);
  --color-container-border: var(--color-input-border);

  /* Specific-use Colors */

  --color-error: oklch(0.6179 0.2337 29.59);
  --color-success: oklch(0.8024 0.2183 149.12);
  --color-success-fg: oklch(0 0 0);
  --color-warning: oklch(0.8154 0.1649 97.58);
  --color-info: oklch(0.709 0.1386 229.54);
}
