@layer base;

@import "@/themes/light.css";
@import "@/themes/dark.css";
@import "@/themes/verydark.css";
@import "@/themes/monokai.css";
@import "@/themes/catpuccin.css";

/**
 * There are more variables in the src/themes files.
 */
:root {
  box-sizing: border-box;

  font-family: "Source Sans", system-ui, Avenir, Helvetica, Arial, sans-serif;
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  /* Sizing */

  --size-0: 2px;
  --size-1: 8px;
  --size-2: 16px;
  --size-3: 24px;
  --size-4: 30px;
  --size-5: 36px;
  --size-6: 48px;
  --size-7: 52px;

  --font-size-small: 0.75rem;
  --font-size-medium: 0.875rem;
  --font-size-big: 1.125rem;

  --spacing-1: 2px;
  --spacing-2: 4px;
  --spacing-3: 6px;
  --spacing-4: 8px;
  --spacing-5: 12px;
  --spacing-panel: 10px;
  --spacing-dialog: 18px;

  --border-radius: 3px;
  --border-radius-large: 6px;

  /* Misc. */

  --timing-very-fast: 0.05s;
  --timing-fast: 0.1s;

  --shadow-small: 0px 3px 5px 0px rgba(0, 0, 0, 0.3);
  --shadow-medium: 0px 15px 25px -15px rgba(0, 0, 0, 0.75);

  /* Base Colors (more defined in individual theme files */

  --color-accent: oklch(0.593 0.0921 194.96);
  --color-accent-fg: #fff;

  --color-data-table-fg: #000;
  --color-data-table-neutral: #f2f2f2;
  --color-data-table-positive: #fa5757;
  --color-data-table-negative: #52e365;

  /* Gradients */

  --gradient-red: linear-gradient(
    0deg,
    rgba(150, 63, 63, 1) 3%,
    rgba(240, 149, 149, 1) 100%
  );
  --gradient-orange: linear-gradient(
    0deg,
    rgba(150, 101, 63, 1) 3%,
    rgba(240, 193, 149, 1) 100%
  );
  --gradient-yellow: linear-gradient(
    0deg,
    rgba(168, 149, 84, 1) 2%,
    rgba(217, 215, 163, 1) 100%
  );
  --gradient-green: linear-gradient(
    0deg,
    rgba(78, 138, 66, 1) 4%,
    rgba(181, 245, 190, 1) 100%
  );
  --gradient-teal: linear-gradient(
    0deg,
    rgba(71, 168, 155, 1) 2%,
    rgba(118, 207, 205, 1) 100%
  );
  --gradient-blue: linear-gradient(
    0deg,
    rgba(49, 86, 125, 1) 4%,
    rgba(136, 201, 242, 1) 99%
  );
  --gradient-purple: linear-gradient(
    0deg,
    rgba(92, 72, 140, 1) 4%,
    rgba(187, 181, 247, 1) 99%
  );
  --gradient-pink: linear-gradient(
    0deg,
    rgba(140, 72, 112, 1) 4%,
    rgba(247, 181, 237, 1) 99%
  );

  /* Colors & Borders (derived from colors defined in individual themes
   * (Concrete colors are defined witin individual theme files. Check `dark.css` for primary color tokens)
   */

  --color-button-bg-translucent: oklch(
    from var(--color-button-fg) l c h / var(--opacity-translucent)
  );
  --color-input-bg-translucent: oklch(
    from var(--color-input-fg) l c h / var(--opacity-translucent)
  );
  --color-layer1-bg-translucent: oklch(
    from var(--color-layer1-fg) l c h / var(--opacity-translucent)
  );
  --color-layer2-bg-translucent: oklch(
    from var(--color-layer2-fg) l c h / var(--opacity-translucent)
  );
  --color-layer3-bg-translucent: oklch(
    from var(--color-layer3-fg) l c h / var(--opacity-translucent)
  );

  --color-button-fg-dim: oklch(
    from var(--color-button-fg) l c h / var(--opacity-dim)
  );
  --color-card-fg-dim: oklch(
    from var(--color-card-fg) l c h / var(--opacity-dim)
  );
  --color-input-fg-dim: oklch(
    from var(--color-input-fg) l c h / var(--opacity-dim)
  );
  --color-layer1-fg-dim: oklch(
    from var(--color-layer1-fg) l c h / var(--opacity-dim)
  );
  --color-layer2-fg-dim: oklch(
    from var(--color-layer2-fg) l c h / var(--opacity-dim)
  );
  --color-layer3-fg-dim: oklch(
    from var(--color-layer3-fg) l c h / var(--opacity-dim)
  );

  --color-button-fg-very-dim: oklch(
    from var(--color-button-fg) l c h / var(--opacity-very-dim)
  );
  --color-card-fg-very-dim: oklch(
    from var(--color-card-fg) l c h / var(--opacity-very-dim)
  );
  --color-input-fg-very-dim: oklch(
    from var(--color-input-fg) l c h / var(--opacity-very-dim)
  );
  --color-layer1-fg-very-dim: oklch(
    from var(--color-layer1-fg) l c h / var(--opacity-very-dim)
  );
  --color-layer2-fg-very-dim: oklch(
    from var(--color-layer2-fg) l c h / var(--opacity-very-dim)
  );
  --color-layer3-fg-very-dim: oklch(
    from var(--color-layer3-fg) l c h / var(--opacity-very-dim)
  );

  --outline-focused: 2px solid
    color-mix(in hsl, 40% var(--color-accent-fg), var(--color-accent));

  --border-button: 1px solid var(--color-button-border);
  --border-card: 1px solid var(--color-card-border);
  --border-layer1: 1px solid var(--color-layer1-border);
  --border-layer2: 1px solid var(--color-layer2-border);
  --border-layer3: 1px solid var(--color-layer3-border);
  --border-container: 1px solid var(--color-container-border);
  --border-input: 1px solid var(--color-input-border);
  --border-input-focused: 1px solid var(--color-accent);

  /* Colors for interactive elements */

  --color-button-bg-hover: color-mix(
    in oklch,
    var(--color-button-bg) 95%,
    var(--color-button-fg)
  );
  --color-button-bg-active: color-mix(
    in oklch,
    var(--color-button-bg) 90%,
    var(--color-button-fg)
  );
  --color-button-bg-disabled: color-mix(
    in oklch,
    var(--color-button-bg) 60%,
    var(--color-layer1-bg)
  );
  --color-button-fg-disabled: color-mix(
    in oklch,
    var(--color-button-fg) 70%,
    var(--color-layer1-bg)
  );

  --color-card-bg-hover: color-mix(
    in oklch,
    var(--color-card-bg) 95%,
    var(--color-card-fg)
  );
  --color-card-bg-active: color-mix(
    in oklch,
    var(--color-card-bg) 90%,
    var(--color-card-fg)
  );
  --color-card-bg-disabled: color-mix(
    in oklch,
    var(--color-card-bg) 60%,
    var(--color-layer1-bg)
  );
  --color-card-fg-disabled: color-mix(
    in oklch,
    var(--color-card-fg) 70%,
    var(--color-layer1-bg)
  );

  --color-input-bg-disabled: color-mix(
    in oklch,
    var(--color-input-bg) 60%,
    var(--color-layer1-bg)
  );
  --color-input-fg-disabled: color-mix(
    in oklch,
    var(--color-input-fg) 70%,
    var(--color-layer1-bg)
  );

  /* Button types */

  --color-ghost-button-fg: var(--color-layer1-fg-dim);
  --color-ghost-button-bg: transparent;
  --color-ghost-button-hover-bg: color-mix(
    in oklch,
    var(--color-layer1-fg) 10%,
    transparent
  );
  --color-ghost-button-active-bg: color-mix(
    in oklch,
    var(--color-layer1-fg) 15%,
    transparent
  );
  --color-ghost-button-disabled-fg: var(--color-layer1-fg-very-dim);
  --color-ghost-button-disabled-bg: transparent;
}

*,
*:before,
*:after {
  box-sizing: inherit;
}

body {
  font-family: "Open Sans", system-ui, Avenir, Helvetica, Arial, sans-serif;
  font-size: var(--font-size-medium);
}

/* This style is temporarily applied to create the theme transition effect. */
/* https://mwichary.medium.com/dark-theme-in-a-day-3518dde2955a */
.theme-in-transition,
.theme-in-transition *,
.theme-in-transition *::before,
.theme-in-transition *::after {
  transition-property: color, background-color, border-color !important;
  transition-duration: 0ms !important;
  transition-delay: 0 !important;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin-block: var(--spacing-5);
}

p {
  margin-block: var(--spacing-4);
}

button,
input,
select,
textarea {
  font-family: inherit;
}

@font-face {
  font-family: "Source Sans";
  src: url("@/assets/fonts/SourceSans3-VariableFont_wdth,wght.ttf")
    format("truetype");
  font-weight: 100 900;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Source Sans";
  src: url("@/assets/fonts/SourceSans3-Italic-VariableFont_wdth,wght.ttf")
    format("truetype");
  font-weight: 100 900;
  font-style: italic;
  font-display: swap;
}
